
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in  (IEnumerable<Product>)ViewData["list"]){
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }
        <tr>
           <td></td>
           <td></td>
           <td></td>
       </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in (IEnumerable<Product>)ViewBag.List)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>